#container {
    background-image: url("../images/download\ \(7\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: burlywood;
    padding-top: 180px;
}
.buttons {
    padding-top: 160px;
    padding-bottom: 50px;
}
.buttons button {
    border-radius: 40px;
    color: black;
}

.menu-btn {
    border-radius: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: chocolate;
}
#menu {
    margin-top: 50px;
    margin-bottom: 50px;
}
.checkout {
    border-radius: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: crimson;
}
.delivery {
    border-radius: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: chartreuse;
}
.getdelivery {
    border-radius: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: cyan;
}