@import url("https://fonts.google.com/specimen/Sansita+Swashed");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
#container {
    background-image: url("../images/download (2).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding-top: 230px;
}
.buttons {
    padding-top: 160px;
    padding-bottom: 50px;
}
.buttons button {
    border-radius: 40px;
    color: black;
}

.menu-btn {
    border-radius: 20px;
    margin-top: 20px;
    color: #000;
    background-color: chocolate;
}
#menu {
    margin-top: 50px;
    margin-bottom: 50px;
}